@import 'mobile';

//Import
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Variables
$title-font: 'Playfair Display', serif;
$body-font: 'Montserrat', sans-serif;
$main-color: #153f4c;

// Root
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Main Styling
html,
body {
  color: $main-color;
  background: #fff;
  font-family: $body-font;
}

h1 {
  font-family: $title-font;
  font-size: 10rem;
  font-weight: lighter;
}

p {
  font-size: 1rem;
}

.btn {
  // display: inline-block;
  font-size: 18px;
  background: $main-color;
  color: #fff;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.large {
  font-size: 1.5rem;
}

// Suits
#suits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .suits-bk {
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .suits-content {
    margin-top: 180px;
    // display: block;
    // margin-top: auto;
    // margin-bottom: auto;
    padding: 20px;
    h1 {
      padding-bottom: 20px;
    }
    p {
      padding-bottom: 30px;
      }
    form {
      input,
      button {
        display: inline-block;
      }  
      input {
        background: #f9f9f9;
        padding: 15px;
        border: 0;
        width: 50%;
        margin-right: 0;
      }
      ::placeholder {
        color: #c4c4c4;
      }
    } //End form
    ul {
      li {
        list-style: none;
        display: inline-block;
        padding: 20px 18px 0px 0px;
      }
    }
  } //End .suits-content
} //End #suits